.stockImgIcon{
    max-height: 20px;
}
.search-field{
    width: 320px;
}
.del-button{
    text-decoration: underline;
    margin-right: 2%;
}
.edit-button{
    text-decoration: underline;
    margin-left: 5%;
}
.removeBtn{
    color: #868686;
    cursor:pointer;
}
.removeBtn:hover{
    color: #ff6464;
}
/* .detailBtn{
    cursor:pointer;
}
.detailBtn:hover{
    text-decoration: underline;
} */