.headerColor{
    color: #4db6ac;
    font-weight: 300;
    font-size: 2.92rem;
    line-height: 110%;
}

.stockImgCard{
    max-height: 120px;
    max-width: 50px;
}
.addNewBtn{
    position: absolute;
    right: -10px;
    top: 90%;
}
.cardSubContent{
    margin-bottom: 0px !important;
}
.card-content{
    padding-bottom: 5px;
}