// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require material_icons
*/

// Importing materialize library 
@import "materialize";
@import "material_icons";



/**  Custom css  **/

//margin classes
.m-left-5{
    margin-left: 5%;
}
.m-left-10{
    margin-left: 10%;
}
.m-right-5{
    margin-right: 5%;
}
.m-top-2{
    margin-top: 2%;
}
.m-top-3{
    margin-top: 3%; 
}
.m-top-5{
    margin-top: 5%; 
}
.m-top-10{
    margin-top: 10%;
}

.m-bottom-5{
    margin-bottom: 5%; 
}
.m-bottom-2{
    margin-bottom: 2%; 
}


// Text styles
.mainHeader{
    font-weight: 300;
    font-size: 2.92rem;
    line-height: 110%;
}



//Menu
.menu-search{
    max-width:300px;
   
    @media only screen and (max-width: 902px) {
        float: left !important;
    }
}


//Forms

.centered-form{
    max-width: 500px;
    margin: auto;
}
